<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>example</title>


    <th:block th:replace="fragments/bootstrap5"></th:block>
    <th:block th:replace="fragments/head"></th:block>


</head>
<body>
<th:block th:replace="fragments/header"></th:block>

<main>
    <div class="container py-5">
        <h1> example page </h1>


        <div class="p-5 mb-4 bg-light rounded-3" id="single-ex">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold response-ex-id">id</h1>
                <p class="col-md-8 fs-4 response-stock-content">stock content</p>
                <div class="row">
                    <div class="col-md-7">
                        <form>
                            <div class="col-sm-3">
                                <label class="form-label">example id</label>
                                <input type="text" class="form-control request-ex-id" id="search-ex-btn" placeholder="" value="" required>
                            </div>

                            <div class="col-sm-3">
                                <label class="form-label">Search</label>
                                <button class="btn btn-primary btn-lg search-btn" type="button">단건 검색</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>


        <div class="p-5 mb-4 bg-light rounded-3" id="multi-ex">
            <div class="container-fluid py-5">
                <table class="table" id="multi-ex-table">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">stock korea name</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                    <tr class="multi-ex-table-row multi-ex-table-row-template" style="display: none">
                        <td class="multi-ex-table-row-id" >id</td>
                        <td class="multi-ex-table-row-stock-name">stockName</td>
                    </tr>
                </table>
                <nav aria-label="Page navigation" id="multi-ex-page-nav">
                    <ul class="pagination">
                    </ul>
                    <li class="page-item page-item-template prevPage" style="display: none"><a class="page-link">Previous</a></li>
                    <li class="page-item page-item-template numPage" style="display: none"><a class="page-link">0</a></li>
                    <li class="page-item page-item-template nextPage" style="display: none"><a class="page-link">Next</a></li>
                </nav>
            </div>

        </div>
    </div>
</main>
<th:block th:replace ="fragments/footer"></th:block>
<script type="module" src="ex/js/ex.js"></script>
</body>
</html>